{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="{% static 'campx/login.css' %}">
</head>

<body>
    <div class="login-container">
        <h2>Student Login</h2>
        <form  method="post" action="{% url 'submitform' %}">
            {% csrf_token %}
            <div class="input-group">
                <label>Email</label>
                <input id="email" type="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input id="password" type="password" name="password" placeholder="Enter your password" required>
            </div>

            <button type="submit" class="btn">Login</button>

            <p class="signup-link">
                Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
            </p>
        </form>
    </div>
</body>

</html>
