<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <th>login details</th>
     <tr>fullname</tr>
    <tr><td>{{fullname}}</td></tr>
    <tr>email</tr>
    <tr><td>{{email}}</td></tr>
    <tr>studentid</tr>
    <tr><td>{{studentid}}</td></tr>
    <tr>department</tr>
    <tr><td>{{department}}</td></tr>
    <tr>password</tr>
    <tr><td>{{password}}</td></tr>
    <tr>confirmpassword</tr>
    <tr><td>{{confirmpassword}}</td></tr>
</body>
</html>